.content {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    width: 50px;
    background: none;
    border: 1px solid #000;
    margin: 0px 10px;
}

.todoList {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
    border: 1px solid #000;
    border-radius: 3px;
}

.todo {
    display: flex;
    justify-content: space-between;

    padding: 15px;
}

.todo:not(:last-child) {
    border-bottom: 1px solid blue;
}